@model FitCore.Application.ViewModels.Common.FormButtonsViewModel

<div class="fc-form-buttons">
    <button type="submit" class="btn btn-success">
        @Model.SubmitText
    </button>

    <a href="@Model.BackUrl" class="btn btn-secondary">
        @Model.BackText
    </a>
</div>
