
@model FitCore.Application.ViewModels.Common.FormButtonsViewModel
<div class="fc-form-buttons">
    <button type="submit" id="btnSave" class="btn btn-success">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        @Model.SubmitText
    </button>

    <a href="@Model.BackUrl" class="btn btn-secondary">
        <i class="fa fa-external-link" aria-hidden="true"></i>
        @Model.BackText
    </a>
</div>
