<div class="fc-form-buttons">

    <button type="submit"
            class="btn btn-success">

        ذخیره اطلاعات

    </button>

    <a href="/Admin/Gym"
       class="btn btn-secondary">

        بازگشت

    </a>

</div>