@model string

<form method="get"
      class="fc-search-form">

    <div class="d-flex gap-2">

        <input type="text"
               class="form-control"
               name="SearchKey"
               value="@Model"
               placeholder="جستجو..." />

        <button type="submit"
                class="btn btn-success">

            جستجو

        </button>
    </div>

</form>