@model string

<form method="get"
      class="fc-search-form">

    <div class="d-flex gap-2">
        <input type="text"
               class="form-control w-auto"
               style="width: 500px;"
               name="SearchKey"
               value="@Model"
               placeholder="جستجو..." />

        <button type="submit" class="btn btn-success">
            <i class="fa fa-search" aria-hidden="true"></i>
            جستجو...
        </button>
    </div>

</form>