<div class="fc-sidebar">

    <div class="fc-logo">

        FitCore

    </div>

    <ul class="fc-menu">

        <li>
            <a href="/Admin/Home">
                داشبورد
            </a>
        </li>

        <li>
            <a href="/Admin/Gym">
                باشگاه ها
            </a>
        </li>

        <li>
            <a href="/Admin/Members">
                اعضا
            </a>
        </li>

    </ul>

</div>