@using FitCore.Common
@{
    ViewData["Title"] = "Home Page";
}
<div class="page-content-wrapper ">
    @if (User.Identity.IsAuthenticated)
    {
        <!-- شروع یک بخش -->
        <div class="section-group">
            <div class="title-wrapper" style="text-align: center;">

                <h4 class="section-title">مدیریت کاربران</h4>
                <div class="btn-container">




                    @if (User.IsAdmin())
                    {
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="custom-btn">
                            <i class="fa fa-pencil-square-o btn-icon-lg"></i> ورود به پنل کاربری
                        </a>
                    }

                    @if (User.IsMember())
                    {
                        <a asp-area="Admin" asp-controller="MemberDashboard" asp-action="Index" class="custom-btn">
                            <i class="fa fa-pencil-square-o btn-icon-lg"></i> ورود به پنل کاربری
                        </a>
                    }



                    @* <button type="button" class="custom-btn" style="background: linear-gradient(135deg, #11998e, #38ef7d);" onclick="openForm('Form2')">
                        <i class="fa fa-list-alt btn-icon-lg"></i> تنظیمات پروفایل
                    </button> *@


                    @*                     <button type="button" class="custom-btn" style="background: linear-gradient(135deg, #11998e, #38ef7d);" onclick="openForm('Form2')">
                        <i class="fa fa-list-alt btn-icon-lg"></i> گزارشات مالی
                    </button>
                    <button type="button" class="custom-btn" style="background: linear-gradient(135deg, #11998e, #38ef7d);" onclick="openForm('Form2')">
                        <i class="fa fa-list-alt btn-icon-lg"></i> گزارشات حسابداری
                    </button>
                    <button type="button" class="custom-btn" style="background: linear-gradient(135deg, #11998e, #38ef7d);" onclick="openForm('Form2')">
                        <i class="fa fa-list-alt btn-icon-lg"></i> گزارشات خزانه داری
                    </button>
 *@
                </div>
            </div>
        </div>

        <!-- شروع بخش بعدی -->

        @* <div class="section-group">
            <div class="title-wrapper" style="text-align: center;">

                <h4 class="section-title">تنظیمات و پیکربندی</h4>
                <div class="btn-container">

                    <button type="button" class="custom-btn" onclick="openForm('Form3')">
                        <i class="fa fa-calendar btn-icon-lg" aria-hidden="true"></i> تنظیمات سیستم
                    </button>

                    <button type="button" class="custom-btn" onclick="openForm('Form4')">
                        <i class="fa fa-users btn-icon-lg"></i>
                        مدیریت دسترسی
                    </button>

                    <button type="button" class="custom-btn" style="background: linear-gradient(135deg, #f093fb, #f5576c);" onclick="openForm('Form4')">
                        <i class="fa fa-shield btn-icon-lg"></i> مشخصات باشگاه
                    </button>
                </div>
            </div>
        </div>


        <div class="section-group">
            <div class="title-wrapper" style="text-align: center;">

                <h4 class="section-title">بخش آزمایشی</h4>
                <div class="btn-container">
                    <button type="button" class="custom-btn" onclick="openForm('Form3')">
                        <i class="fa fa-cogs btn-icon-lg"></i> آزمایشی 1
                    </button>
                    <button type="button" class="custom-btn" style="background: linear-gradient(135deg, #f093fb, #EACE01);" onclick="openForm('Form4')">
                        <i class="fa fa-users btn-icon-lg"></i> آزمایشی 2
                    </button>
                    <button type="button" class="custom-btn" style="background: linear-gradient(135deg, #f093fb, #EACE01);" onclick="openForm('Form4')">
                        <i class="fa fa-shield btn-icon-lg"></i> آزمایشی 3
                    </button>
                </div>
            </div>
        </div>

        <div class="section-group">
            <div class="title-wrapper" style="text-align: center;">
                <h4 class="section-title">بخش آزمایشی</h4>
            </div>

            <div class="btn-container">
                <button type="button" class="custom-btn" onclick="openForm('Form3')">
                    <i class="fa fa-cogs btn-icon-lg"></i> آزمایشی 1
                </button>
                <button type="button" class="custom-btn" style="background: linear-gradient(135deg, #f093fb, #EACE01);" onclick="openForm('Form4')">
                    <i class="fa fa-users btn-icon-lg"></i> آزمایشی 2
                </button>
                <button type="button" class="custom-btn" style="background: linear-gradient(135deg, #f093fb, #EACE01);" onclick="openForm('Form4')">
                    <i class="fa fa-shield btn-icon-lg"></i> آزمایشی 3
                </button>
            </div>
        </div> *@
    }
    else
    {
        <!-- نمایش پیام یا دکمه ورود برای کاربر مهمان -->
        <div class="section-group" style="text-align: center; padding: 50px;">
            <i class="fa fa-user-times btn-icon-lg-home" aria-hidden="true"></i><h3>دسترسی محدود</h3>
            <p>برای مشاهده امکانات، لطفاً ابتدا <a href="/admin/Auth/Login" class="cta-link">وارد حساب کاربری</a> خود شوید.</p>
            <br>
            <p>در قسمت بالای فرم روی دکمه <a href="/admin/Auth/Login " class="cta-link">ورود</a> کلیک نمائید.</p>
            <br>
            <p>
                برای ثبت نام، وارد برنامه «بله» در ربات
                <a href="https://web.bale.ai/chat" class="cta-link" target="_blank" rel="noopener noreferrer">
                    فیتکور FitCore
                </a>
                ثبت نام را انجام دهید.
            </p>
        </div>
    }
</div>





<!-- اسکریپت برای فراخوانی مودال -->
@section Scripts {
    <script>

        function openForm(formType) {
            console.log("در حال باز کردن: " + formType);
            // اینجا می‌توانید بر اساس formType، محتوای مودال را با AJAX تغییر دهید
            $('#myModal').modal('show');
        }



    </script>
}

