
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>ثبت نام</title>

    <link rel="stylesheet"
          href="~/SiteTemplate/assets/css/vendor/font-awesome.min.css">

    <link rel="stylesheet"
          href="~/SiteTemplate/assets/css/vendor/materialdesignicons.css">

    <link rel="stylesheet"
          href="~/SiteTemplate/assets/css/vendor/bootstrap.css">

    <link rel="stylesheet"
          href="~/SiteTemplate/assets/css/main.css">

</head>

<body>

    <div class="container">

        <div class="row">

            <div class="col-lg">

                <section class="page-account-box">

                    <div class="col-lg-6 col-md-8 col-xs-12 mx-auto">

                        <div class="ds-userlogin">

                            <a href="#"
                               class="account-box-logo">

                                FitCore

                            </a>

                            <div class="account-box">

                                <div class="account-box-headline">

                                    <a href="~/Auth/Login"
                                       class="login-ds">

                                        <span class="title">
                                            ورود
                                        </span>

                                        <span class="sub-title">
                                            ورود به حساب
                                        </span>

                                    </a>

                                    <a href="#"
                                       class="register-ds active">

                                        <span class="title">
                                            ثبت نام
                                        </span>

                                        <span class="sub-title">
                                            ایجاد حساب
                                        </span>

                                    </a>

                                </div>

                                <div class="Login-to-account mt-4">

                                    <div class="account-box-content">

                                        <h4>
                                            ثبت نام کاربر جدید
                                        </h4>

                                        <div class="form-account text-right">

                                            <div class="form-account-title">

                                                <label>
                                                    نام کامل
                                                </label>

                                                <input type="text"
                                                       class="number-email-input"
                                                       id="fullname" />

                                            </div>

                                            <div class="form-account-title">

                                                <label>
                                                    شماره موبایل
                                                </label>

                                                <input type="text"
                                                       class="number-email-input"
                                                       id="mobile" />

                                            </div>

                                            <div class="form-row-account">

                                                <button onclick="SendOtp()"
                                                        class="btn btn-primary btn-login">

                                                    ارسال کد تایید

                                                </button>

                                            </div>

                                            <hr />

                                            <div class="form-account-title">

                                                <label>
                                                    کد تایید
                                                </label>

                                                <input type="text"
                                                       class="number-email-input"
                                                       id="code" />

                                            </div>

                                            <div class="form-row-account">

                                                <button onclick="RegisterUser()"
                                                        class="btn btn-success btn-login">

                                                    ثبت نام

                                                </button>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </section>

            </div>

        </div>

    </div>

</body>

<script src="~/SiteTemplate/assets/js/vendor/jquery-3.2.1.min.js"></script>

<script src="~/SiteTemplate/assets/js/vendor/bootstrap.js"></script>

<script src="~/SiteTemplate/assets/js/main.js"></script>

<link href="~/Sweetalert2/sweetalert2.min.css"
      rel="stylesheet" />

<script src="~/Sweetalert2/sweetalert2.min.js"></script>

<script>

    function SendOtp() {

    $.ajax({

    contentType: 'application/x-www-form-urlencoded',

    dataType: 'json',

    type: "POST",

    url: "/Auth/SendOtp",

    data: {

    mobile: $("#mobile").val()
    },

    success: function (data) {

    if (data.isSuccess == true) {

    swal.fire(
    'موفق!',
    data.message,
    'success'
    );
    }
    else {

    swal.fire(
    'خطا!',
    data.message,
    'warning'
    );
    }
    }
    });
    }

    function RegisterUser() {

    $.ajax({

    contentType: 'application/x-www-form-urlencoded',

    dataType: 'json',

    type: "POST",

    url: "/Auth/RegisterUser",

    data: {

    fullName: $("#fullname").val(),

    mobile: $("#mobile").val(),

    code: $("#code").val()
    },

    success: function (data) {

    if (data.isSuccess == true) {

    swal.fire(
    'موفق!',
    data.message,
    'success'
    ).then(function () {

    window.location.href = "/";
    });
    }
    else {

    swal.fire(
    'خطا!',
    data.message,
    'warning'
    );
    }
    }
    });
    }

</script>

</html>