@model FitCore.Application.Services.Announcements.Dashboard.GetDashboardAnnouncements.ResultGetDashboardAnnouncementDto

@if (Model != null)
{
    <div class="modal fade"
         id="announcementModal"
         tabindex="-1">

        <div class="modal-dialog modal-lg">

            <div class="modal-content">

                <div class="modal-header">

                    <h5>@Model.Title</h5>

                    @if (Model.CanDismiss)
                    {
                        <button class="btn-close"
                                data-bs-dismiss="modal">
                        </button>
                    }

                </div>

                <div class="modal-body">

                    @if (Model.HasImage)
                    {
                        <img src="@Model.ImageUrl"
                             class="img-fluid rounded mb-3" />
                    }

                    <p>@Model.Message</p>

                </div>

                @if (Model.HasButton)
                {
                    <div class="modal-footer">

                        <a href="/Admin/Announcement/Click/@Model.Id"
                           class="btn btn-primary">

                            @Model.ButtonText

                        </a>

                    </div>
                }

            </div>

        </div>

    </div>
}