@{
    // var searchKey = Context.Request.Query["SearchKey"].ToString();
    // var isFiltered = !string.IsNullOrWhiteSpace(searchKey);

    ViewData["Title"] = "باشگاه";
    Layout = "~/Areas/Admin/Views/Shared/Layouts/_Adminlayout.cshtml";


    <h2>نرم افزار مدیریت باشگاه ها</h2>
}

